/*
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_portfolio_gallery_filter
*/
/* 
    Created on : 19-nov.-2021, 12:32:12
    Author     : métier
*/


* {
    box-sizing: border-box;
}

body {
    background-color: PapayaWhip;
    padding: 20px;
    font-family: "Noto Sans", sans-serif;
}

/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    font-family: Megrim;
    color : tan;
}
hr {
    color : tan;
}
h2 {
    color: Sienna;
}


.row {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style des boutons */
.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: tan;
}

.btn.active {
    background-color: Sienna;
    color: white;
}

/* Style des images */ 
.main .row .content img {
    width : 100%;
    opacity: 1;
} 
.main .row .content img:hover {
    opacity: .5;
}

/* Styles fluides diiférents taille d'écran */
@media only screen and (max-width: 700px) {
    .column {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}